body {
   font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #FFFFFF;
   width: 1158px;
}

a {
   text-decoration: none;
}

ul {
   list-style-type: none;
}

ol {
   list-style-type: none;
}

img {
   display: block;
}

.container {
   width: 1158px;
   display: flex;
   margin: 0 auto;
   padding: 0 15px;
}

.section {
   width: 1440px;
   padding: 120px 0;
}

.header {
   border-bottom: 1px solid #e7e9fc;
}

.header-logo {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   padding-top: 25.5px;
   padding-bottom: 25.5px;
   margin-right: 76px;
}

.header-nav {
   display: flex;
   height: 72px;
}

.header-span {
   color: #2e2f42;
}

.header-list {
   display: flex;
   gap: 40px;
   padding-top: 24px;
   padding-bottom: 24px;
   margin: 0;
}

.header-li {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
   padding: 24px 0;
}

.studio {
   color: #2e2f42;
}

.studio:hover {
   color: #404bbf;
}

.studio:focus {
   color: #404bbf;
}

.contact-us {
   font-style: normal;
}

.address-list {
   display: flex;
   gap: 40px;
   padding-left: 332px;
   margin: 0;
}

.address-info {
   color: #434455;
   display: flex;
   height: 72px;
   justify-content: center;
   align-items: center;
   flex-shrink: 0;
}

.address-info:hover {
   color: #404bbf;
}

.address-info:focus {
   color: #404bbf;
}

.solutions {
   background-color: #2e2f42;
   margin: 0;
}

.solutions-title {
   color: var(--WHITE, #FFF);
   text-align: center;
   font-family: Roboto;
   font-size: 56px;
   font-style: normal;
   font-weight: 700;
   letter-spacing: 1.12px;
   padding-top: 188px;
   padding: 0, 472px;
   margin: 0;
   max-width: 496px;
}

.button-order {
   display: inline-flex;
   padding: 16px 32px;
   align-items: flex-start;
   gap: 10px;
   border-radius: 4px;
   background: var(--IRIS, #4D5AE5);
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
   cursor: pointer;
   color: #FFFFFF;
   text-align: center;
   margin-left: 636px;
   margin-bottom: 188px;
   margin-top: 48px;
   margin-right: 635px;
   border-radius: 4px;
   min-width: 169px;
   height: 56px;
   border: none;
}

.button-order:hover {
   background-color: #404BBF;
}

.button-order:focus {
   background-color: #404BBF;
}

.benefits-list {
   display: flex;
   flex-direction: row;
   gap: 24px;
   margin: 0;
}

.benefits-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin: 0;
}

.benefits-par {
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.32px;
   color: #434455;
   margin: 0;
}

.team {
   background-color: #F4F4FD;
}

.team-list {
   display: flex;
   gap: 24px;
   padding: 0;
   margin-top: 72px;
   margin-left: 156px;
   margin-right: 156px;
   margin-bottom: 0;
}

.team-list:nth-child(4) {
   margin-right: 0;
}

.team-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: #2e2f42;
   margin: 0;
   padding-top: 120px;
}

.team-li {
   background-color: #FFFFFF;
   margin-bottom: 120px;
   border-radius: 0px 0px 4px 4px;
   background: var(--WHITE, #FFF);
   box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
   text-align: center;
   margin-top: 32px;
   margin-bottom: 0;
}

.team-member {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
   text-align: center;
   margin-bottom: 32px;
   margin-top: 0;
}


.portfolio-name {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: #2e2f42;
   margin-top: 120px;
   margin-bottom: 72px;
}

.portfolio-list {
   padding: 0;
   display: flex;
   gap: 32px;
   margin-left: 156px;
   flex-direction: raw;
   align-items: flex-start;
   flex-shrink: 0;
   flex-wrap: wrap;
   margin-bottom: 120px;
   column-gap: 24px;
}

.portfolio-list:nth-child(3n) {
   margin-right: 0;
}

.portfolio-li {
   border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
   border-left: 1px solid var(--CORNFLOWER, #E7E9FC);
   border-right: 1px solid var(--CORNFLOWER, #E7E9FC);
   width: calc((100% - 48px) / 3);
}

.portfolio-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin: 0;
   padding-top: 32px;
   padding-left: 16px;
}

.portfolio-par {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
   margin: 0;
   padding-bottom: 32px;
   margin-top: 8px;
   padding-left: 16px;
}

.footer {
   background-color: #2E2F42;
   padding: 100px 0;
}

.footer-par {
   color: white;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #F4F4FD;
   margin: 0;
}

.footer-logo {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   margin-bottom: 16px;
   display: inline-block;
}

.footer-span {
   color: #f4f4fd;
}

.footer-content {
   display: flex;
   flex-direction: column;
   padding-left: 156px;
   padding-bottom: 100px;
   padding-top: 101.5px;

}