.solutions {
   background-color: #2E2F42;
}

.solutions-title {
   color: white
}

.sol-button {
   background-color: #4D5AE5;
   color: white;
}

.header-logo {
   color: black
}

.header-span {
   color: #4D5AE5
}

.footer {
   background-color: #2E2F42;
}

.footer-p {
   color: white
}

.footer-logo {
   color: white
}

.footer-span {
   color: #4D5AE5
}

.team {
   background-color: #F4F4FD;
}