body {
   font-family: "Roboto", "Raleway", "Arial";
}

.header-logo {
   color: black;
   font-family: "Raleway";
   font-weight: 700;
   font-size: 18px;
}

.header-span {
   color: #4D5AE5
}

.header-li {
   font-weight: 500;
   font-size: 16px;
}

.address-li {
   font-weight: 400;
   font-size: 16px;
}

.solutions {
   background-color: #2E2F42;
}

.solutions-title {
   font-weight: 700;
   font-size: 56px;
}

.solutions-title {
   color: white
}

.sol-button {
   background-color: #4D5AE5;
   color: white;
   cursor: pointer;
   font-weight: 500;
   font-size: 16px;
}

.benefits-title {
   font-weight: 500;
   font-size: 20px;
}

.benefits-par {
   font-weight: 400;
   font-size: 16px;
}

.team {
   background-color: #F4F4FD;
}

.team-title {
   font-weight: 700;
   font-size: 36px;
}

.team-name {
   font-weight: 500;
   font-size: 20px;
}

.team-member {
   font-weight: 400;
   font-size: 16px;
}

.portfolio-title {
   font-weight: 500;
   font-size: 20px;
}

.portfolio-par {
   font-weight: 400;
   font-size: 16px;
}

.footer {
   background-color: #2E2F42;
}

.footer-par {
   color: white;
   font-weight: 400;
   font-size: 16px;
}

.footer-logo {
   color: white;
   font-family: "Raleway";
}

.footer-span {
   color: #4D5AE5
}